extends ../layouts/layout

block content
    //- if session.loggedin
    if !errorMessage     
        div(class="gallery-container")
            ul
            each item in gallery
                div(class="gallery-item")
                    img(src=item.image class="gallery-image" onclick="clickImage('" + item._id + "')" loading="lazy")
                    div(class="like-comment-container")
                        div(class="like-container like-comment")
                            if item.likes.includes(session.username)
                                i(class="fas fa-heart" onclick="like('" + item._id + "')")
                            else
                                i(class="far fa-heart" onclick="unlike('" + item._id + "')")
                            span(class="num-likes-comments")= item.likes.length
                        div(class="comment-container like-comment")
                            i(class="far fa-comment" onclick="comment('" + item._id + "')")
                            span(class="num-likes-comments" id=`${item._id}-num-comments`)= item.comments.length
                            input(type="text" class="comment-input" id=`${item._id}-comment` placeholder="Add a comment...")
                            button(class="comment-btn button" id="addComment" disabled="true" onclick='postComment(' + '"' + item._id + '"' + ',' + '"' + session.username + '"' + ')') Post
                    div(class="comment-list" id=`${item._id}-comment-list`)
                        p(class="comment-title") Comments
                        each comment in item.comments
                            div(class="comment")
                                a(class="comment-user" href=`/users/${user}`)= comment.user
                                p(class="comment-text")= comment.comment
    else 
            p #{errorMessage}
    //- else
    //-     p You must be logged in to view your following!

    script("src"="/js/gallery-script.js")