extends ../layouts/layout

block content
    div(class="workshops-container")
        each workshop in workshops
            div(class="workshop-container-ind" id=`${workshop._id}-workshop`)
                p(class="workshop-name") 
                    strong Name:
                    |  #{workshop.workshopName}

                
                    if(workshop.workshopUser != session.username && selfUser.enrolledWorkshops.includes(workshop._id))
                        button(class="workshop-button button" id=`${workshop._id}-enroll` onclick=`enrollWorkshop("${workshop._id}", "${session.username}")`) Unenroll
                    else if(workshop.workshopUser != session.username && !selfUser.enrolledWorkshops.includes(workshop._id))
                        button(class="workshop-button button" id=`${workshop._id}-enroll` onclick=`enrollWorkshop("${workshop._id}", "${session.username}")`) Enroll
                    else
                        |    (your workshop)
                

    script(src="/js/workshops-script.js")